/**
 * Dashboard
 *
 * Basic styling for dashboard's view
 */

.td-dashboard {
  width: 100%;
  position: relative;
}

.td-header {
  max-width: var(--td-app-max-width);
  margin: auto;

  > * {
    width: 100%;
  }
}

.td-body,
.td-bottom-bar {
  max-width: var(--td-app-max-width);
  margin: auto;
}

.td-header {
  padding-top: 56px;
}

.td-page-title {
  margin-bottom: 35px;
}

.td-category-list-wrapper {
  margin-bottom: 40px;
}

.td-progress-bar {
  height: 50px;
}

.td-input-wrapper {
  margin-top: 50px;
  margin-bottom: 46px;
  width: 100%;

  .td-input {
    width: 100%;
  }
}

.td-header-wrapper {
  box-shadow: 0px 5px 20px #00000029;
}

.td-bottom-bar {
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
}

.td-filter-bar {
  background-color: var(--td-background-color);
  max-width: var(--td-app-max-width);
  position: fixed;
  bottom: 0;
  height: 50px;
  box-shadow: 0px 0px 20px #00000029;
  width: 100%;
}
