/**
 * TodoItem
 *
 * Basic styling for ToDoItem's component
 */

$min-width: 20px;
$min-height: 20px;
$right: 15px;
$bottom: 30px;
$left: 15px;

.td-todo-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: $bottom;
  user-select: none;
  position: relative;
}

.td-todo-item-input-checkbox {
  visibility: hidden;
  position: absolute;

  &:checked {
    ~ label {
      color: var(--td-tertiary-color);

      &::after {
        transform: scaleX(1);
        transition: all 0.3s ease;
      }
    }

    ~ .checked {
      border-color: var(--td-primary-color);
      background-color: var(--td-primary-color);
    }

    ~ .td-todo-item-color-indicator {
      opacity: 0.3;
    }
  }
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: $min-width;
  min-height: $min-height;
  border: 3px solid var(--td-tertiary-color);
  border-radius: 50%;
  margin-right: $right;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.11, 0.77, 0.65, 0.83);

  &:hover {
    border-color: var(--td-primary-color);
    background-color: var(--td-primary-color);
  }
}

.td-todo-item-color-indicator {
  min-width: $min-width;
  min-height: $min-height;
  margin-right: $right;
}

.td-todo-item-text {
  font-family: var(--td-font-family);
  font-weight: 500;
  font-size: var(--td-page-content-font-size);
  cursor: pointer;
  position: relative;
  margin-right: $right;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--td-tertiary-color);
    transform-origin: 0 0;
    transform: scaleX(0);
  }
}
