/**
 * Button
 *
 * Basic styling for button's component
 */

.td-btn {
  padding: 16px 58px;
  color: var(--td-white-color);
  font-size: 1rem;
  border-radius: 27px;
  appearance: none;
  outline: none;
  border-style: initial;
  cursor: pointer;
}

.btn- {
  &primary {
    background-color: var(--td-primary-color);
    border: var(--td-primary-color);
  }

  &text {
    background-color: transparent;
    border: none;
    color: var(--td-accent-red);
  }

  &danger {
    background-color: var(--td-accent-red);
    border: var(--td-accent-red);
  }

  &icon {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--td-primary-color);
    border: var(--td-primary-color);
  }
}