/**
 * Category Creation Modal
 *
 * Basic styling for category creation modal
 */

.td-category-creation-modal {
  max-width: 325px;
  padding-bottom: 35px;
}

.td-color-display-wrapper {
  margin-top: 40px;
  margin-bottom: 20px;
}

.td-color-display-label {
  font-size: 8px;
  color: var(--td-tertiary-color);
  font-weight: var(--td-font-weight-700);
  margin-bottom: 8px;
}

.td-color-display {
  background-color: var(--td-accent-blue);
  width: 111px;
  height: 25px;
}

.td-color-selector {
  display: flex;
  flex-direction: row;
}

.td-color-block-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  .td-color-block {
    width: 25px;
    height: 25px;
    margin-right: 18px;
  }
}

.td-input-wrapper-modal-context {
  position: relative;

  &:before {
    content: "#";
    position: absolute;
    font-size: var(--td-page-content-font-size);
    color: var(--td-tertiary-color);
    font-weight: var(--td-font-weight-700);
  }

  .td-input {
    width: 78px;
    padding-left: 15px;
  }
}

.td-action-icon-wrapper {
  margin-top: 43px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .td-icon {
    cursor: pointer;
  }
}


