/**
 * ProgressBar
 *
 * Basic styling for ProgressBar's component
 */

.td-progress-bar-wrapper {
  height: 50px;
  display: flex;
  position: relative;
}

.td-progress-fill {
  height: 100%;
  background-color: var(--td-primary-color);
}

.td-progress-text-wrapper {
  position: relative;
  min-width: 180px;
  padding-left: 15px;
}

.td-progress-text {
  height: 100%;
  font-weight: var(--td-font-weight-600);
  font-size: 20px;
  color: var(--td-tertiary-color);
  padding-top: 13px;
  padding-bottom: 13px;
}

/* RESPONSIVE STYLING FOR PROGRESS BAR */

@media screen and (max-width: 768px) {
  .td-progress-bar-wrapper {
    height: 30px;
    display: flex;
    position: relative;
  }

  .td-progress-fill {
    height: 100%;
    background-color: var(--td-primary-color);
  }

  .td-progress-text-wrapper {
    .td-progress-text {
      height: 100%;
      font-weight: var(--td-font-weight-600);
      font-size: var(--td-page-content-font-size);
      color: var(--td-tertiary-color);
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
