/**
 * Category's List
 *
 * Basic styling for category list's component
 */

.td-category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    margin-bottom: 15px;
  }
}

.td-category {
  margin-right: 13px;
}

.td-category-add-btn {
  cursor: pointer;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

/* RESPONSIVE STYLING FOR CATEGORY LIST */

@media screen and (max-width: 768px) {
  .td-category-add-btn {
    cursor: pointer;
    margin-left: 0;
  }
}
