/**
 * Category's List
 *
 * Basic styling for category list's component
 */

.td-category-list-wrapper {
  display: flex;
  flex-direction: row;
}

.td-category-list {
  display: flex;
  flex-direction: row;

  .td-category {
    margin-right: 13px;
  }
}

.td-category-add-btn {
  cursor: pointer;
  margin-left: 18px;
  display: flex;
  align-items: center;
}

