/**
 * Category
 *
 * Basic styling for category's component
 */

.td-category {
  font-size: var(--td-page-content-font-size);
  font-weight: var(--td-font-weight-700);
  padding: 10px 17px;
  cursor: pointer;
  user-select: none;
}

