:root {
  /* #COLOR-SCHEME */
  --td-primary-color: #f77062;
  --td-secondary-color: #000;
  --td-tertiary-color: #ccc;
  --td-background-color: #fff;
  --td-accent-blue: #38c9ff;
  --td-accent-yellow: #ffab38;
  --td-accent-red: #ff3838;

  /* #TYPOGRAPHY */
  --td-font-family: Montserrat;
  --td-page-title-font-size: 50px;

  /* #LAYOUT */
  --td-app-max-width: 768px;
}